* {
    background-color: #2D3644;
    border-color: White;
    text-color: White;
    font: "Times New Roman 10";
    border-radius: 4%;
}

window {
    anchor: south;
    location: south;
    width: 100%;
    padding: 4px;
    children: [horibox];
}

horibox {
    orientation: horizontal;
    children: [ prompt, entry, listview];
}

prompt {
    color: white;
    border-radius: 4%;
    background-color: #88A1BF;
    padding: 0px 9px;
}

listview {
    layout: horizontal;
    spacing: 5px;
    lines: 100;
}

entry {
    expand: false;
    width: 10em;
    padding: 0px 0px 0px 5px;

    font: "Times New Roman 10";
}

element {
    padding: 0px 5px;
}

element selected {
    background-color: #5A6C87;
}

element-text,
element-icon {
    background-color: inherit;
    text-color: inherit;
}
